.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 250px 250px 250px;
    grid-template-areas: "header"
                         "input"
                         "content"
}

header {
    grid-area: header;
    font-family: fantasy;
}
h1 {
    color: rgb(0, 184, 184);
}
h3 {
    color: rgb(2, 59, 163);
    font-family: 'Courier New', Courier, monospace;
}
button {
    background-color: aqua;
    border-style: solid;
    border-color: black;
}
.user-input {
    grid-area: input;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
#story {
    grid-area: content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
